.newArticle {
    margin-bottom: 50px;
    padding: 10px;
    background-color: $blue;
    border-radius: 5px;
    border: 1px solid $indigo;
    outline: none;
    
    a {
        color: black;
    }

    &:hover a {
        color: #555;
        text-decoration: none;    
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;

    .article-details {
        align-self: stretch;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    img {
        max-height: 300px;
        margin-bottom: 30px;
    }

    p {
        padding-bottom: 50px;
        border-bottom: 1px solid #bbb;
    }

}