.container {
    margin-top: 60px;
    margin-bottom: 60px;

    .partial {
        height: 800px;
        display: flex;
        flex-wrap: wrap;        

        .big {
            height: 100%;
            width: 50%;
            padding: 10px;

            .big-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .small {
                    border: 1px solid black;
                    height: 45%;
                }
            }

            .border {
                border: 1px solid black !important;
            }
        }
    }
}